
.content-container {
  position: relative;

  .big-arrow {
    position: absolute;
    border: 1px solid rgba(68, 66, 66, 0.527);
    width: 3rem;
    height: 10.1rem;
    margin: 1rem 0;
    z-index: 2;
    background-color: rgba(68, 66, 66, 0.527);
    color: white;

    &:hover {
      background-color: rgba(48, 47, 47);
      cursor: pointer;
    }

    &-right {
      top: 36px;
      right: 0%;
    }
  }

  .content-list {
    display: flex;
    margin: auto 1rem;
    transition: all 1s ease;
  
    .content-item {
      margin: 1rem;
      min-width: 15rem;
      height: 10rem;
      border: 1px white solid;
    }
  }

}